@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
    color: white;
    background-color: steelblue;
    width: 80%;
    margin: 24px auto;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

/* ogni componente metterà i suoi stili gerarchizzati sulla classe principale */
.dad-component {
    padding: 10px;
    border: 1px dotted white;
    border: 2px dotted green;
}

.child-component {
    padding: 10px;
    border: 2px dotted red;
    margin-bottom: 12px;
}

.shared-component {
    padding: 10px;
    border: 2px dotted pink;
    margin-bottom: 12px;

    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #cadb34;
        width: 16px;
        height: 16px;
        -webkit-animation: spin 1s linear infinite;
        /* Safari */
        animation: spin 1s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}