#root {
    opacity: 1;
    transition: 0.7s opacity;
}

#root.fade {
    opacity: 0;
    transition: none;
}


/* ogni componente metterà i suoi stili gerarchizzati sulla classe principale */
.dad-component {
    padding: 14px;
    border: 2px dotted green;
}

.child-component {
    padding: 14px;
    border: 2px solid red;
    margin-bottom: 12px;
}

.shared-component {
    padding: 14px;
    border: 2px dotted pink;
    margin-bottom: 12px;

    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #cadb34;
        width: 16px;
        height: 16px;
        -webkit-animation: spin 1s linear infinite;
        /* Safari */
        animation: spin 1s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}